.form__right-content .form-content input {
  border: 1px solid #8692A6;
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 17px;
  border-radius: 6px;
  border: 1px solid #8692A6;
  padding: 22px 263px 23px 30px;
  margin: 14px 0 24px 0;
  color: #8692A6;
  outline: 0;
}

.form__right-content .form-content input:focus {
  -webkit-box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11);
  border-radius: 6px;
  border: 1px solid #1565D8;
}

.form__right-content .form-content label {
  font: "Inter-Medium", sans-serif;
  font-size: 16px;
  line-height: 19.36px;
  color: #696F79;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

p {
  margin: 0;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

.form_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__left-content {
  position: relative;
  width: 666px;
  height: 1024px;
  background: url("../img/font.jpg") no-repeat;
  background-size: contain;
}

.form__left-content .form__oasis {
  position: absolute;
  top: 64px;
  right: 484px;
}

.form__left-content .form__point {
  position: absolute;
  top: 212px;
  right: 190.15px;
}

.form__left-content .form__quotes {
  position: absolute;
  top: 330px;
  left: 82px;
}

.form__left-content .form__left-p {
  position: absolute;
  font: 400 30px "Inter-Regular", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  line-height: 38px;
  width: 473px;
  height: 190px;
  top: 370px;
  left: 82px;
}

.form__left-content .form_left-bottomtxt {
  position: absolute;
  top: 582px;
  left: 82px;
}

.form__left-content .form_left-bottomtxt p {
  font: 500 30px "Inter-Medium", sans-serif;
  font-size: 18px;
  color: #ffffff;
  line-height: 22px;
}

.form__left-content .form_left-bottomtxt img {
  margin-left: 9.67px;
}

.form__left-content .form__angle {
  position: absolute;
  top: 639px;
  left: 484px;
}

.form__right-content .form-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  line-height: 20px;
  cursor: pointer;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 16.67px;
  height: 16.67px;
  border: 1px solid #dddddd;
  background-color: #1565D8;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 4px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 5px;
  top: 5px;
  width: 7px;
  height: 3px;
  border-radius: 1px;
  border-left: 2.5px solid #FFFFFF;
  border-bottom: 2.5px solid #FFFFFF;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */