:root {

    /* переменные шрифтов */
    --base-font-s: 700 14px "Manrope", sans-serif;
    --base-font-m: 800 14px "Manrope", sans-serif;

    /* переменные цвета фона, текста */
    --main-text-color: #18191F;
    --main-bgcolor: rgb(180, 130, 130);

    /* переменные для кнопок */
    --border-radius: 100px;
    --buttom-text-color: #FFFFFF;
    --buttom-bg-color: #8C30F5;

    /* переменные для внутренних, внешних отступов */
    --base-size-s: 8px;
    --base-size-m: 16px;
    --base-size-l: 24px;
}

body {
    margin: 0;
    color: var(--main-text-color);
    background-color:var(--main-bgcolor);
}

h1, h2, h3, h4, p {
    margin: 0;
}

p {
    font-family: var(--base-font-m);
    text-transform: uppercase;
}

button {
    padding: calc(var(--base-size-s) + 2px) calc(var(--base-size-m) + 2px);
    border-radius: var(--border-radius);
    color: var(--buttom-text-color);
    background-color: var(--buttom-bg-color);
    font-family: var(--base-font-s);
    line-height: 14px;
    outline: none;
    border: 0;
    cursor: pointer;
}
.container {
    width: 1110px;
    background-color: aqua;
}

.selected-blocks {
    display: inline-block;
}
.c1 {
    font: var(--base-font-s);
}

.c2 {
    font: var(--base-font-m);
}

.selected-title__header {
    margin-top: calc(var(--base-size-l) - 4px);
}

.selected-title__header-left {
    float: left;
    vertical-align: middle;
    line-height: 40px;
}

.selected-title__header-right {
    float: right;
    vertical-align: middle;
    line-height: 40px;

}

