h1, h2, h3, h4, p 
    margin: 0

// переменные шрифтов
$font-inter-400: 400 30px "Inter-Regular" , sans-serif
$font-inter-500: 500 30px "Inter-Medium" , sans-serif
$font-inter-600: 600 30px "Inter-SemiBold" , sans-serif
$font-inter-700: 700 30px "Inter-Bold" , sans-serif
$font-size-R: 12px // применить в футере
// -------------