*
    box-sizing: border-box

h1, h2, h3, h4, p, ul
    margin: 0
    padding: 0

@import "variables.sass"

.slick-initialized .slick-slide
    display: none
    outline: none

.container
    width: 1247px
    margin: 0 auto
    padding-top: 56px
.header
    display: flex
    align-items: center
    justify-content: space-between
    padding-bottom: 80px
    padding-right: 29px
    nav
        ul
            display: flex
            li
                list-style-type: none
                &:nth-of-type(n+2)
                    margin-left: $margin-left-header-40
            a
                text-decoration: none
                font: $font-Mulish-Normal
                font-size: $font-size-1
                line-height: 23px
                color: #1F1534
                opacity: 0.5
                &:hover
                    text-shadow: 1px 0 0
                    opacity: 0.7
                &:focus
                    text-shadow: 1px 0 0
                    opacity: 1

.content
    display: flex
    justify-content: space-between
    outline: none
    padding-bottom: 40px
    .content__left
        position: relative
        width: 445px
        margin-top: 106px
        h1
            font: $font-Mulish-bold
            font-size: $font-size-3
            line-height: 56px
            margin-bottom: $margin-bot-25
        p
            font: $font-Mulish-light
            font-size: $font-size-2
            line-height: 32px
            color: $color-p-grey
            margin-bottom: $margin-bot-25 +20
        button
            @extend %form-buttom-accept
        img
            position: absolute
            top: -123px
            left: -180px