// переменные шрифтов
$font-inter-400: 400 30px "Inter-Regular", sans-serif
$font-inter-500: 500 30px "Inter-Medium", sans-serif
$font-inter-600: 600 30px "Inter-SemiBold", sans-serif
$size-18px: 18px
$size-20px: 20px

// -------------

// переменные для внутренних и внешних отступов
$base-size-10px: 10px
$base-size-14px: 14px //исп
$base-size-16px: 16px
$base-size-20px: 20px
$base-size-22px: 22px
$base-size-23px: 23px
$base-size-24px: 24px
$base-size-30px: 30px
$base-size-32px: 32px
$base-size-33px: 33px
// -------------

// переменные для форм и кнопок
%form-base
    border: 1px solid #8692A6
    font-family: "Inter-Medium", sans-serif
    font-size: 14px
    line-height: 17px
    border-radius: 6px
    border: 1px solid #8692A6
    padding: 22px 263px 23px 30px
    margin: 14px 0 24px 0
    color:#8692A6
    outline: 0
    &:focus 
            box-shadow: 0px 4px 10px 3px rgba(0, 0, 0, 0.11)
            border-radius: 6px
            border: 1px solid #1565D8
    

%form-label
    font: "Inter-Medium", sans-serif
    font-size: 16px
    line-height: 19.36px
    color: #696F79


$border-radius: 6px
$border-form: 1px solid #8692A6
$border-color-active: #1565D8
$padding-form: 22px 263px 23px 30px
$hover-box-shadow: 0px 4px 10px 3px #000000 11%
// -------------

// переменные цветов текста
$color-grey: #8692A6
$color-white-grey: #BDBDBD
$color-white: #ffffff
// -------------

*
    box-sizing: border-box

p
    margin: 0

.container
    width: 1440px
    margin: 0 auto

.form_section
    display: flex

.form__left-content
    position: relative
    width: 666px
    height: 1024px
    background: url("../img/font.jpg") no-repeat
    background-size: contain
    .form__oasis
        position: absolute
        top: 64px
        right: 484px
    .form__point
        position: absolute
        top: 212px
        right: 190.15px
    .form__quotes
        position: absolute
        top: 330px
        left: 82px
    .form__left-p
        position: absolute
        font: $font-inter-400
        font-weight: 400
        font-size: $size-20px
        color: $color-white
        line-height: 38px
        width: 473px
        height: 190px
        top: 370px
        left: 82px
    .form_left-bottomtxt
        position: absolute
        top: 582px
        left: 82px
        p
            font: $font-inter-500
            font-size: $size-18px
            color: $color-white
            line-height: 22px
        img
            margin-left: 9.67px
    .form__angle
        position: absolute
        top: 639px
        left: 484px

.form__right-content
    .form-content
        display: flex
        flex-direction: column
        h1
        p
        hr
        label
            @extend %form-label
        input
            @extend %form-base

// стили для чекбокса
input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked)
    position: absolute
    left: -9999px

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label
    display: inline-block
    position: relative
    padding-left: 28px
    line-height: 20px
    cursor: pointer

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before
    content: ""
    position: absolute
    left: 0px
    top: 0px
    width: 16.67px
    height: 16.67px
    border: 1px solid #dddddd
    background-color: #1565D8

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before
    border-radius: 4px

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after
    content: ""
    position: absolute
    -webkit-transition: all 0.2s ease
    -moz-transition: all 0.2s ease
    -o-transition: all 0.2s ease
    transition: all 0.2s ease

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after
    left: 5px
    top: 5px
    width: 7px
    height: 3px
    border-radius: 1px
    border-left: 2.5px solid #FFFFFF
    border-bottom: 2.5px solid #FFFFFF
    -webkit-transform: rotate(-45deg)
    -moz-transform: rotate(-45deg)
    -o-transform: rotate(-45deg)
    -ms-transform: rotate(-45deg)
    transform: rotate(-45deg)

input[type="checkbox"]:not(:checked) + label:after
    opacity: 0

input[type="checkbox"]:checked + label:after
    opacity: 1
// -------------



