
@font-face {
    font-family: 'GothamPro-Light';
    font-style: normal;
    font-weight: 300;
    src:
        url('../fonts/GothamPro-Light.woff');
}

@font-face {
    font-family: 'GothamPro-Normal';
    font-style: normal;
    font-weight: 400;
    src:
        url('../fonts/GothamPro.woff');
}

@font-face {
    font-family: 'GothamPro-Medium';
    font-style: normal;
    font-weight: 500;
    src:
        url('../fonts/GothamPro-Medium.woff');
}

@font-face {
    font-family: 'GothamPro-Bold';
    font-style: normal;
    font-weight: 700;
    src:
        url('../fonts/GothamPro-Bold.woff');
}